<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakao Login</title>
</head>
<body>
{% if check %}
<div>
    <h1>카카오 로그아웃</h1>
    <form action="/kakaoLogout" method="GET">
        <input type="submit" value="카카오톡 로그아웃"/>
    </form>
</div>
{% else %}
<div>
    <h1>카카오톡으로 로그인하기</h1>
    <form action="/kakaoLoginLogic" method="GET">
        <input type="image" src="../../static/image/kakao_login_medium_wide.png" alt="Login with Kakao"/>
    </form>
</div>
{% endif %}
</body>
</html>
