{% extends '../tab/baseTab.html' %}

{% block tab_content %}
<nav class="mobile-bottom-nav background-color font-main-color">
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<i class="material-icons">home</i>
			홈
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<i class="material-icons">bar_chart</i>
			통계
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<i class="material-icons">person</i>
			내 정보
		</div>
	</div>
</nav>
{% endblock%}