{% extends '../main/base.html' %}
{% load static %}
{% block content %}
    <div class="baseTab font-main-color background-color">
        <div id="tabContent" class="parent-size">
            <!-- Dynamic Contents -->
        </div>
    </div>
    {% include '../common/mobileTabNavi.html' %}
    <script>
        $(document).ready(function() {
            const $tabContent = $('#tabContent');

            function loadContent(url) {
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(response) {
                        $tabContent.html(response).addClass('active');
                    },
                    error: function() {
                        $tabContent.html('<p>컨텐츠를 로드하는 중 오류가 발생했습니다.</p>').addClass('active');
                    }
                });
            }

            $('.mobile-bottom-nav__item').on('click', function() {
                const url = $(this).data('url');
                $('.mobile-bottom-nav__item').removeClass('active');
                $(this).addClass('active');
                loadContent(url);
            });

            const $firstTab = $('.mobile-bottom-nav__item').first();
            if ($firstTab.length > 0) {
                $firstTab.addClass('active');
                const initialUrl = $firstTab.data('url');
                loadContent(initialUrl);
            }

        });
    </script>
{% endblock%}