<div class="parent-size flex_column">
    <div class="font-main-color">
        <div class="align-center font-align-center">
            <p style="margin-top:30px">
                검색 단어를 설정하고 <br>
                매일 아침, 알림을 확인하세요.
            </p>
        </div>
    </div>
    <div id="toast" class="toast_color font-main-black-color toast ">
    </div>
    <div style="flex:1;">
        <input type="hidden" id="cust_id" value="{{ request.session.cust_id }}">
        <div class="xCenter flex_column margin_all_zero ">
            <button id="addSearchWordButton" class="btn-no-style" onclick="move_addSearchWord()">
                <i class="material-icons" id="add_icon">add</i>
            </button>
        </div>
    </div>

</div>
