{% load static %}
<div class="parent-size flex_column padding_side">
    <div class="padding_all flex_row">
        <div class="profile profile_start">
            {% if picture %}
            <img class="profile_img" src="{{ picture }}" alt="Profile Picture">
            {% else %}
            <img class="profile_img" src="{% static 'image/icon/default_profile.png' %}"/>
            {% endif %}
            <h5 class="margin_all_zero">{{ nickname }}</h5>
        </div>
        <div class="profile">
            <a href="/myInfo_details/">
                <i class="material-icons arrow_icon_style">chevron_right</i>
            </a>
        </div>
    </div>
    <div class="links">
        <div class="link-item item-border" onclick="location.href='#settings'">설정</div>
        <div class="link-item item-border" onclick="location.href='#notices'">공지사항</div>
        <div class="link-item item-border" onclick="location.href='#faq'">자주하는 질문</div>
        <div class="link-item item-border" onclick="location.href='#terms'">약관 및 정책</div>
        <div class="link-item item-border" onclick="location.href='#feedback'">앱 평가하기</div>
    </div>
</div>