{% load static %}
<div class="parent-size flex_column">
    <div style="flex:1;">
        <div class="xCenter flex_column">
            <img class="image_clock"
                 src="{% static 'image/design/clock_white.png' %}"
            />
                <div class="font-clock-color">
                <div class="align-center font-align-center">
                    <h3 style="margin-top:30px;" class="login-font ">
                        <b>COMING SOON</b>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

