<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% include '../common/html/head.html' %}
</head>

<body class="d-flex justify-content-center align-items-center min-vh-100 bg-light">

    <div class="container text-center">
        <p>이름 : {{ nickname }}</p>
        {% if picture %}
        <img src="{{ picture }}" alt="Profile Picture" style="max-width: 200px;">
        {% else %}
        <p>No profile picture available.</p>
        {% endif %}

    <div class="container">
        <div class="d-flex justify-content-center mb-3 mt-3">
            <form action="/kakaoLogout" method="GET">
                <button type="submit" class="btn btn-primary btn-sm">카카오톡 로그아웃</button>
            </form>
            <form action="/kakaoLogoutWithAcccount" method="GET">
                <button type="submit" class="btn btn-secondary btn-sm">카카오톡 연결끊기</button>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'searchEveryday/js/common_body.js' %}"></script>
</body>
</html>
