:root {
    --outskirt-color: #EEEEEE;
    --main-color: #F9D838;
    --light-main-color:#ffed96;
    --dark-main-color:#ffd300;
    --background-color: #060722;
    --background-shadow-color: #04051B;
    --bg-dark-input-color: #303030;

    --dark-white: #ebeae8;

    --gray: #707070;

    /* Border */
    --main-border: 2px solid #3498db;
    --light-border: 1px solid #242322;
}

/* COLOR */
.common-color {
    color: var(--main-color);
}

/* FONT COLOR */
.font-main-color {
    color: #F2F2F2;
}
.font-highlight-color {
    color: var(--main-color);
}
.font-clock-color {
    color: var(--dark-white);
}
.font-main-black-color {
    color: #0D0D0D;
}


/* BACKGROUND COLOR */
.background-color {
    background-color: var(--background-color);
}
.outskirt-color {
    background-color: var(--outskirt-color);
}
.background-input-value {
    background-color: var(--bg-dark-input-color);
    opacity: 70%;
}


.common-border {
    border: var(--main-border);
}


/* MOBILE TAB COLOR */
.mobile-bottom-nav__item.active .material-icons {
    color: var(--main-color); /* 활성화된 아이콘 색상 */
}
.mobile-bottom-nav__item.active .mobile-bottom-nav__item-content {
    color: var(--main-color); /* 활성화된 텍스트 색상 */
}
.mobile-bottom-nav__item .material-icons {
    /* color: #000;  비활성화된 아이콘 색상 */
}
.mobile-bottom-nav__item .mobile-bottom-nav__item-content {
    /* color: #000;  비활성화된 텍스트 색상 */
}


/* myInfo Color */
.item-border {
    padding: 15px;
    border-bottom: var(--light-border);
}
.link-item {
    color: var(--dark-white); /* 텍스트 색상 */
    cursor: pointer; /* 커서 변경 */
}
.link-item:hover {
    color: var(--light-main-color); /* Hover 시 배경 색상 */
}
.hyperLink-color {
    color: var(--main-color);
}
.hyperLink-color:hover {
    color: var(--dark-main-color);
}

.toast_color {
    background-color: #dbdbdb;
}