:root {
    --min-width: 0px;
    --max-width: 768px;
    --min-height: 0px;

    --bottom-tab-height: 60px;
    --top-title-height: 80px;
}

.root-size {
    min-width: var(--min-width);
    max-width: var(--max-width);
    /* min-height: var(--min-height); */
    margin: 0 auto; /* 중앙 정렬 */
    height: 100vh;
    position: relative;
}
.parent-size {
    height: 100%;
}

.full-height {
    height: 100vh;
}

.align-center {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
}

.align-center-absolute {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.xCenter {
    align-items: center;
    justify-content: center;
    height: 100%
}
/* 세로 쌓기 */
.flex_column {
    display: flex;
    flex-direction: column;
}
/* 가로 쌓기 */
.flex_row {
    display: flex;
    flex-direction: row;
}
.image_clock {
    width: 40%;
    object-fit: contain;
}

/* PADDING & MARGIN */
/* top right bottom left */
.padding_side {
    padding: 0px 15px 0px 15px;
}
.padding_all {
    padding: 15px;
}
.margin_all_zero {
    margin: 0px
}


/* FONT */
@font-face {
    font-family: 'Batang';
    src: url('/static/fonts/batang.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.login-font {
    font-family: 'Batang', serif;
}
.font-align-center {
    text-align: center;
}
.font-align-left {
    text-align: left;
}
.font-align-right {
    text-align: right;
}
.font-small {
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
}


/* MOBILE TAB NAVIGATION  */
.mobile-bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: var(--bottom-tab-height);
  box-shadow: 0 -2px 5px -2px #333;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}

/* TITLE HEAD */
.title_head {
    flex-grow: 1; /* 중앙 텍스트가 가능한 공간을 모두 차지하도록 */
    text-align: center; /* 텍스트를 중앙 정렬 */
}
.title_container {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 요소 배치 */
    align-items: center;
}
.detail_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.detail_label {
    flex: 4;
    font-weight: bold;
}
.detail_value {
    flex: 6;
}

/* TAB CSS */
.tab-content {
    /* display: none; */
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 스크롤을 추가 */
}
.baseTab  {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--bottom-tab-height));
}

/* ICON COLOR */
#add_icon{
 color: var(--dark-white);
 font-size: 35px;
}
.back_icon {
    position: absolute;
    top: 10;
    left: 10;
}
.arrow_icon_style {
    font-size: 35px;
    color: white;
}

/* myInfo Style */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    align-items: center;
}
.profile_start {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.profile_img {
    border-radius: 40%;
    /* width: 100px;  프로필 이미지 크기 */
    height: 70%; /* 프로필 이미지 크기 */
    margin-right: 30px;
}
.links {
    height: 80%;
    overflow-y: auto; /* 세로 스크롤 가능 */
}
.myInfo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* BUTTON */
.btn-no-style {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 10px;
}
