:root {
    --min-width: 0px;
    --max-width: 768px;
    --min-height: 0px;

    --bottom-tab-height: 60px;
    --top-title-height: 80px;
}

.root-size {
    min-width: var(--min-width);
    max-width: var(--max-width);
    /* min-height: var(--min-height); */
    margin: 0 auto; /* 중앙 정렬 */
    height: 100vh;
    position: relative;
}
.parent-size {
    height: 100%;
}

.full-height {
    height: 100vh;
}

.align-center {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
}

.align-center-absolute {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.xCenter {
    align-items: center;
    justify-content: center;
    height: 100%
}
/* 세로 쌓기 */
.flex_column {
    display: flex;
    flex-direction: column;
}
/* 가로 쌓기 */
.flex_row {
    display: flex;
    flex-direction: row;
}
.image_clock {
    width: 40%;
    object-fit: contain;
}

/* PADDING & MARGIN */
/* top right bottom left */
.padding_side {
    padding: 0px 15px 0px 15px;
}
.padding_side_little {
    padding: 0px 8px 0px 8px;
}
.padding_all {
    padding: 15px;
}
.padding_bottom_little {
    padding: 15px 15px 8px 15px
}
.padding_all_little {
    padding: 8px;
}
.margin_all_zero {
    margin: 0px
}
.margin_all_10px {
    margin: 10px;
}
.padding_submit_btn {
    padding: 5px 30px;
}


/* FONT */
@font-face {
    font-family: 'batang';
    src: url('/static/fonts/batang.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.login-font, .article_font {
    font-family: 'batang', serif;
}

.font-align-center {
    text-align: center;
}
.font-align-left {
    text-align: left;
}
.font-align-right {
    text-align: right;
}
.font-small {
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
}
.font-bold {
    font-weight: bold;
}


/* MOBILE TAB NAVIGATION  */
.mobile-bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: var(--bottom-tab-height);
  box-shadow: 0 -2px 5px -2px #333;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}

/* TITLE HEAD */
.title_head {
    flex-grow: 1; /* 중앙 텍스트가 가능한 공간을 모두 차지하도록 */
    text-align: center; /* 텍스트를 중앙 정렬 */
}
.title_container {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 요소 배치 */
    align-items: center;
}
.detail_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.detail_label {
    flex: 4;
    font-weight: bold;
    min-height: 100%;
}
.detail_value {
    flex: 6;
    min-height: 100%;
}


/* TAB CSS */
.tab-content {
    /* display: none; */
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 스크롤을 추가 */
}
.baseTab  {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--bottom-tab-height));
}

/* ICON COLOR */
#add_icon{
 color: var(--dark-white);
 font-size: 35px;
}
.back_icon {
    position: absolute;
    top: 10;
    left: 10;
}
.arrow_icon_style {
    font-size: 35px;
    color: white;
}
.icon_position_right {
    position: absolute;
    top: 10;
    right: 10;
}
.icon_no_style {
    font-size: 30px;
}

/* myInfo Style */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    align-items: center;
}
.profile_start {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.profile_img {
    border-radius: 40%;
    /* width: 100px;  프로필 이미지 크기 */
    height: 70%; /* 프로필 이미지 크기 */
    margin-right: 30px;
}
.bee_img {
    margin: 6px;
    width: 1.5em;
}
.links {
    height: 80%;
    overflow-y: auto; /* 세로 스크롤 가능 */
}
.myInfo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* BUTTON */
.btn-no-style {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
}
.btn-submit {
    background: var(--main-color);
    border: none;
    font: inherit;
    cursor: pointer;
    border-radius: 5%;
}
.bottom-center-absolute {
  position: absolute;
  bottom: 45;
  left: 50%; /* 수평 중앙 위치 */
  transform: translateX(-50%); /* 중앙 정렬 */
}

/* TOAST MESSAGE */
.toast {
    position: fixed;
    width: 100%;
    bottom: 50;
    left: 50%; /* 수평 중앙 위치 */
    visibility: hidden;

    text-align: center;
    border-radius: 3px;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 4px;  /* 세로 가로 */
    transition: visibility 0s linear 0.5s, opacity 0.5s linear; /* 지연 추가 */
    opacity: 0;

    max-width: 70%;
    transform: translateX(-50%); /* 수평 중앙 정렬 */

}
.toast.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear; /* 나타날 때 */
}

.list-line{
    border-top: 1px solid var(--bg-dark-input-color);
}

/* CALENDAR */
.ui-datepicker table thead {
    display: none;
}
.ui-widget {
    font-size: 18px;
}